*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
}

#container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  position: relative;
}

.slider img {
  max-width: 100%;
  display: none;
}

img.active {
  display: block;
  animation: fondue 1s;
}

@keyframes fondue {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.buttons {
  position: absolute;
  bottom: 125px;
  left: 50%;
  transform: translate(-50%, -50%);/* (pour pouvoir être bien centré) */
}

button {
  cursor: pointer;
  background: #c3c3f7;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: 0.3s all;
}

button:hover {
  background: #4747f1;
  transition: 0.3s all;
}

button:not(:last-child){
  margin:0 5px 0 0;
}

.cont-btn {
  width: 100%;
  height: auto;
  border: 1px solid #000;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
}

.btn-nav {
  font-size: 50px;
  margin: 0 15px;
  cursor: pointer;
}